<nav class="navbar navbar-expand-md navbar-light bg-light shadow sticky-top">
  <a class="navbar-brand" routerLink="/"><img src="/rocket.png" alt="" width="30px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Usuários
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/usuarios">Pesquisar</a>
          <a class="dropdown-item" routerLink="/cadastrar-usuario">Cadastrar</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="bg-container container">
  <router-outlet></router-outlet>
</div>
